{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-5 mb-5 bg-teal">{{ event.name }}</h1>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Description:{{ event.description }}</p>
                    <p class="card-text">Date: {{ event.date }}</p>
                    <p class="card-text">Location: {{ event.location }}</p>
                    <p class="card-text">Category: {{ event.category }}</p>
                    <p class="card-text">Participants: {{ event.participants }}</p>
                    <a href="{% url 'Events_update' event.id %}">Edit</a>
                    <a href="{% url 'Events_delete' event.id %}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
