{% extends "base.html" %}

{% block content %}
<div class="about-container">
    <div class="about-header">
        <h1 style="font-size: 36px; color: #333; animation: fadeInUp 1.5s ease-out;">About Us</h1>
        <p style="font-size: 18px; color: #666;">We are dedicated to bringing your events to life!</p>
    </div>
    <div class="about-content">
        <p style="margin-bottom: 15px; font-size: 16px; line-height: 1.6; color: #444;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit...
        </p>
    </div>
</div>
{% endblock %}

