{% extends 'base.html' %}

{% block content %}
  <h1 class="mb-4">Dashboard</h1>

  <div class="row">
    <div class="col-md-6">
      <h2>Your Events</h2>
       {% if user_events %}
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Location</th>
            <th>Actions</th> 
          </tr>
        </thead>
        <tbody>
          {% for event in user_events %}
            <tr>
              <td>{{ event.name }}</td>
              <td>{{ event.date }}</td>
              <td>{{ event.location }}</td>
              <td> 
                <div class="d-flex align-items-center">
                  <a href="{% url 'Events_update' event.id %}" class="btn btn-primary btn-sm mr-20"><i class="fas fa-edit"></i> Edit</a>
                  <br>
                  <a href="{% url 'Events_delete' event.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Delete</a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No events found.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
