{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-5 mb-5 bg-teal">Upcoming Events</h1>

    <div class="row">
        {% for event in recent_events %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"><i></i> {{ event.name }}</h3>
                        <hr>
                        <p class="card-text"><i class="fas fa-calendar"></i> Date: {{ event.date }}</p>
                        <p class="card-text"><i class="fas fa-map-marker-alt"></i> Location: {{ event.location }}</p>
                        <p class="card-text"><i class="fas fa-tag"></i> Category: {{ event.category }}</p>
                        <p class="card-text"><i class="fas fa-users"></i> Participants: {{ event.participants }}</p>
                        <hr>
                        <h6 class="card-subtitle mb-2 text-muted">Event Description</h6>
                        <p class="card-text description"> - {{ event.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<footer class="footer bg-dark text-white py-4">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <button class="btn btn-success btn-icon mr-3">
                    <i class="fas fa-comments"></i> Connect Us
                </button>
                <a href="/terms-of-service" class="btn btn-link text-white"><i class="fas fa-file-contract"></i> Terms of Service</a>
                <a href="/about" class="btn btn-link text-white"><i class="fas fa-info-circle"></i> About</a>
            </div>
            <div class="col-md-6">
                <p class="text-center text-md-right">&copy; 2023 3Coders. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

{% endblock %}
