{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-5 mb-5 bg-teal">Upcoming Events</h1>

    <div class="row">
        {% for event in recent_events %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.name }}</h5>
                        <p class="card-text">{{ event.description }}</p>
                        <p class="card-text">Date: {{ event.date }}</p>
                        <p class="card-text">Location: {{ event.location }}</p>
                        <p class="card-text">Category: {{ event.category }}</p>
                        <p class="card-text">Participants: {{ event.participants }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<footer class="footer bg-dark text-white py-4">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <button class="btn btn-success mr-3">Connect Us</button>
                <a href="/terms-of-service" class="btn btn-link text-white">Terms of Service</a>
                <a href="/about" class="btn btn-link text-white">About</a>
            </div>
            <div class="col-md-6">
                <p class="text-center text-md-right">&copy; 2023 3Coders. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

{% endblock %}