/* Additional CSS styles */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
    text-align: center;
    padding: 20px;
}

.contact-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.contact-description {
    color: #555;
    margin-bottom: 20px;
}

.contact-list {
    list-style: none;
    padding: 0;
}

.contact-list li {
    margin-bottom: 10px;
}

.social-media-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.social-link {
    display: inline-block;
    font-size: 1.5rem;
    color: #007bff;
    transition: color 0.3s, transform 0.3s;
    margin-bottom: 10px;
}

.social-link:hover {
    color: #0056b3;
    transform: scale(1.1);
}

/* about styling */
.about-container {
    text-align: center;
    padding: 50px 0;
}

.about-title {
    font-size: 36px;
    color: #333;
    animation: fadeInUp 1.5s ease-out;
}

.about-subtitle {
    font-size: 18px;
    color: #666;
}

.about-description {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}

.about-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.icon-container {
    margin: 0 20px;
    padding: 15px;
    background-color: #f7f7f7;
    border-radius: 10px;
    transition: transform 0.3s;
    animation: bounceIn 1s ease-in-out infinite;
}

.icon-container:hover {
    transform: translateY(-10px);
    animation: none; /* Disable animation on hover */
}

.icon {
    font-size: 36px;
    color: #007bff;
    margin-bottom: 10px;
}

.icon-label {
    font-size: 14px;
    color: #555;
}

/* homepage style: */

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.btn-success:hover {
    transform: scale(1.05);
}
.footer {
background-color: #222;
    transition: background-color 0.3s;}

.footer:hover {
    background-color: #111;
}
/* Additional CSS styles */
.card {
    position: relative;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.countdown {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}




